
@font-face {
    font-family: "Capuche";
    src: url("../img/Capuche.otf") format("opentype");   
}
.StartMenu {
    display: block;
    align-items: center; 
}

.board{
    align-items: center;
    display: inline-block;
    margin: 10px;
}

.name{
    font-family: "Capuche";
    margin: 10px;
    font-size: 40px;
}

.players {
  
    display: inline;
    margin: 20px;
}

/* CSS */
.button {
    margin: 20px;
    font-family: "Capuche";
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

  .player{
    font-family: "Capuche";
    display: inline-grid;
    margin: 10px;
    font-size: 20px;
  }

  .players{
    text-align: left;
  }
  
  @media (min-width: 768px) {
    .button {
      padding: 0.25em 0.75em;
    }
  }

  .input {
    padding: 1px;
    font-size: 20px;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 0px rgba(66,66,66,.75);
}
.input:focus {
    outline:none;
}

body {
    background: rgba(10,68,101,255);
    color: #FFFFFF;
}